@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 55, 65, 81; /* Gray-700 for text */
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255; /* White background */
  --primary-rgb: 55, 65, 81; /* Primary color for text, Gray-700 */
  --secondary-rgb: 107, 114, 128; /* Gray-500 for secondary text */
  --accent-rgb: 229, 231, 235; /* Gray-200 for accents */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 229, 231, 235; 
    --background-start-rgb: 31, 41, 55; 
    --background-end-rgb: 17, 24, 39; 
  }
}

body {
  font-family: 'Inter', Arial, sans-serif;
  color: rgb(var(--foreground-rgb)); 
  background: rgb(var(--background-start-rgb)); 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--primary-rgb)); 
}

.utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn-primary {
    @apply bg-[rgb(var(--primary-rgb))] text-white px-5 py-4 rounded-lg border border-transparent transition-colors;
  }

  .btn-primary:hover {
    @apply bg-[rgb(var(--secondary-rgb))] border-gray-200 dark:bg-[rgb(var(--background-end-rgb))] dark:border-[rgb(var(--background-start-rgb))];
  }

  .link-primary {
    @apply text-[rgb(var(--primary-rgb))] underline;
  }

  .link-primary:hover {
    @apply no-underline text-[rgb(var(--secondary-rgb))];
  }

  .bg-secondary {
    @apply bg-[rgb(var(--secondary-rgb))];
  }

  .text-accent {
    @apply text-[rgb(var(--accent-rgb))];
  }

  .section-full-width {
    @apply w-full max-w-screen-lg mx-auto px-4 sm:px-6 lg:px-8;
  }
}
