@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 42, 61, 69; /* Primary teal-blue */
  --background-start-rgb: 250, 250, 250; 
  --background-end-rgb: 255, 255, 255; /* White */
  --primary-rgb: 42, 61, 69; /* Primary color for text */
  --secondary-rgb: 138, 147, 154; /* Elegant gray */
  --accent-rgb: 241, 245, 248; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 241, 245, 248; 
    --background-start-rgb: 27, 27, 27;
    --background-end-rgb: 44, 44, 44;
  }
}

body {
  font-family: 'Inter', Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--primary-rgb));
}

.utilities {
  .text-balance {
    text-wrap: balance;
  }
  .btn-primary {
    @apply bg-[rgb(var(--primary-rgb))] text-[rgb(var(--accent-rgb))] px-5 py-4 rounded-lg border border-transparent transition-colors;
  }
  .btn-primary:hover {
    @apply bg-[rgb(var(--secondary-rgb))] border-gray-200 dark:bg-[rgb(var(--background-end-rgb))] dark:border-[rgb(var(--background-start-rgb))];
  }
  .link-primary {
    @apply text-[rgb(var(--primary-rgb))] underline;
  }
  .link-primary:hover {
    @apply no-underline text-[rgb(var(--secondary-rgb))];
  }
}
